<div class="container mobile" [@pageAnimation]>
  <div class="frontpage">
    <img id="logobox" src="../../assets/img/logobox.png">
  </div>
  <div class="container-intro">
    <div class="intro">
      <div class="container-title">
        <span class="title">
          <h2>CULTURA INDEPENDIENTE.</h2>
          <h2>CULTURA EMERGENTE.</h2>
        </span>
      </div>
      <div class="container-paragraph">
        <p>El festival Nuevos Vientos es un evento anual que celebra la cultura under de la ciudad de La Plata.
          Música en vivo, artes visuales, diseño y performances se encuentran y confluyen en una fiesta multidisciplinaria. 
          Por las ediciones anteriores se realizaron shows en vivo, exposiciones, ciclos de cortometrajes, 
          y un desfile de moda performático, musicalizado en vivo</p>
      </div>
    </div>
  </div>
  <div class="video">
    <iframe src="https://www.youtube.com/embed/7zRSxkmJpRM" allowfullscreen></iframe>
  </div>

  <div class="enroll">
    <div class="container-enroll">
      <div class="container-title">
        <div class="title">
        <h2>NUEVOS VIENTOS 2017</h2>
        </div>
        <div class="subtitle">
          <h4>Querés ser parte?</h4>
        </div>
      </div>
      <div class="container-button">
        <a class="button" routerLink="/enroll">
           SUMATE
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container desktop" [@pageAnimation]>
  <div class="frontpage">
    <img id="logobox" src="../../assets/img/logobox.png">
  </div>
  <div class="container-intro">
    <div class="intro">
      <div class="container-title">
        <span class="title">
          <h2>CULTURA INDEPENDIENTE.</h2>
          <h2>CULTURA EMERGENTE.</h2>
        </span>
      </div>
      <div class="container-paragraph">
        <p>El festival Nuevos Vientos es un evento anual que celebra la cultura under de la ciudad de La Plata.
          Música en vivo, artes visuales, diseño y performances se encuentran y confluyen en una fiesta multidisciplinaria. 
          Por las ediciones anteriores se realizaron shows en vivo, exposiciones, ciclos de cortometrajes, 
          y un desfile de moda performático, musicalizado en vivo</p>
      </div>
    </div>
  </div>
  <div class="video">
    <iframe src="https://www.youtube.com/embed/7zRSxkmJpRM" allowfullscreen></iframe>
  </div>

  <div class="enroll">
    <div class="container-enroll">
      <div class="container-title">
        <div class="title">
        <h2>NUEVOS VIENTOS 2017</h2>
        </div>
        <div class="subtitle">
          <h4>Querés ser parte?</h4>
        </div>
      </div>
      <div class="container-button">
        <a class="button" routerLink="/enroll">
           SUMATE
        </a>
      </div>
    </div>
  </div>
</div>
