@import "../../../assets/common.scss";

.container {
    min-height: 80vh;
    padding-top: 10vh;

    &.mobile {
        background-image: url("../../../assets/img/foto-hero-mobile.jpg");
        background-repeat: no-repeat;
    }

    &.desktop {
        display: none;
        background-image: url("../../../assets/img/foto-hero.jpg");
        background-repeat: no-repeat;
    }

    .frontpage {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        background-color: transparent;
        margin-bottom: 10vh;
        
        #logobox {
            max-width: 150px;
            max-height: 70px
        }
    }

    .container-intro {
        display: flex;
        justify-content: center;

        .intro {
            max-width: 86vw;
            background-color: $nvWhite;

            .container-title {
                background-color: $nvGreen;
                display: flex;
                justify-content: center;

                .title {
                    padding: 20px 18px;
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h2 {
                        font-size: 1.4em;
                        color: $base-color;
                    }
                }
            }

            .container-paragraph {
                padding: 20px 20px;

                p{
                    font-family: 'Roboto';
                }
            }
        }
    }

    .video {
        display: flex;
        justify-content: center;
        margin-top: 5vh;

        iframe {
            width: 100vw;
            height: 58vw;
            border: none;
        }
    }

    .enroll {
        .container-enroll {
            height: 35vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .container-title {
                color: $nvGreen;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .container-button {
                margin-bottom: 5vh;
                font-size: 1.5em;

                .button {
                    background-color: $nvGreen;
                    height: 8vh;
                    width: 50vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    a {
                        font-family: 'Roboto';
                        text-decoration: none;
                        color: $base-color;
                    }
                }
            }
        }
    }
}

@media all and (min-width: 600px) {
    .container {
        
        &.mobile {
            display: none;
        }

        &.desktop {
            display: block;
        }
    }
}