@import "../../app.component.scss";

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $base-color;
    color: $nvGreen;
    height: 10vh;

    .navigation {
        flex-grow: 45;
        i {
            margin-left: 1em;
        }
    }

    .hero {
        flex-grow: 60;
        display: flex;
        justify-content: flex-start;

        .hero-image {
            border: 1px solid black;
        }

        .hero-title {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

    }

}
