@import "../../app.component.scss"; 

.container {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $base-color;
    color: $nvGreen;

    .icon-container {
        display: flex;
        justify-content: center;
    }

    .disclaimer {
        display: flex;
        justify-content: center;
    }
}
