@import '../../../assets/common.scss';

.container {
    min-height: 85vh;
    padding-top: 60px;

    .container-hero{
        min-height: 40vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;

        &.mobile {
            background-image: url('../../../assets/img/enroll-mobile.jpg');
            background-size: cover;
        }

        &.desktop {
            display: none;
            background-image: url('../../../assets/img/enroll-desktop.jpg');
            background-size: cover;
        }

        .hero-title {
            font-size: 1.2em;
            color: $nvGreen;
        }
    }

    .container-message {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        min-height: 30vh;

        .title {
            color: $nvGreen;
            font-size: 1.2em;
            margin: 2vw 0;
        }

        .message {
            font-family: 'Roboto';
            color: $nvWhite;
            padding: 0 10vw;
        }
    }

    .container-forms {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        min-height: 15em;

        .button{
            font-family: 'Roboto';
            background-color: $nvGreen;
            height: 10vw;
            width: 60vw;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Roboto';
            text-decoration: none;
            color: $base-color;
        }
    }
}

@media all and (min-width: 600px) {
    .container {
        .container-hero{

            min-height: 15em;

            &.mobile {
                display: none;
            }

            &.desktop {
                display: flex;
                width: 100%;
            }
        }

        .container-message {
            min-height: 12em;
            justify-content: flex-start;

            .message {
                max-width: 35em;
            }
        }
        
        .container-forms {
            height: 40vh;
            margin-bottom: 3vh;

            .button {
                max-height: 3em;
                max-width: 15em;
            }
        }
    }
}
