<div class="container" [@pageAnimation]>
    <div class="container-hero mobile">
        <div class="hero-title">
            <h2>{{ heroTitle | uppercase }}</h2>
        </div>
    </div>
    <div class="container-hero desktop">
        <div class="hero-title">
            <h2>{{ heroTitle | uppercase }}</h2>
        </div>
    </div>
    <div class="container-message">
        <div class="title">
            <h3>{{ messageTitle | uppercase }}</h3>
        </div>
        <div class="message">
            {{ message }}
        </div>
    </div>
    <div class="container-forms">
        <a class="button" *ngFor="let button of buttons" href="{{ button.link }}">
            {{ button.label | uppercase }}
        </a>
    </div>
</div>
